#main_container {
    width: 400px;
}

#message_area {
    overflow-y: scroll;
    height: 400px;
    background-color: rgb(155, 243, 169);
    font-size: large;
}

#username, #messageField, #sendButton {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    width: 60%;
}